@page "/"

<CHPage>
    <MudContainer MaxWidth="@MaxWidth.Large">
        <div style="margin-top: 200px; margin-bottom: 200px;">
            <header>
                <MudText Typo="@Typo.h1">
                    <b>Christian Hinkle</b>
                </MudText>
                <MudText Typo="@Typo.subtitle1" Style="font-size: 2rem;">
                    Artist and Gameplay Programmer
                </MudText>
            </header>
        </div>
    </MudContainer>
</CHPage>
