@page "/"

<CHPage>
    <MudContainer MaxWidth="@MaxWidth.Large">
        <div class="mud-width-full d-flex align-center" style="height: 600px;">
            <MudText Typo="@Typo.h1">
                Christian
                <br>
                Hinkle
            </MudText>
        </div>
    </MudContainer>
</CHPage>
