@page "/"

<CHPage>
    <MudContainer MaxWidth="@MaxWidth.Large">
        <div style="margin-top: 200px; margin-bottom: 200px;">
            <MudText Typo="@Typo.h1">
                Christian
                <br>
                Hinkle
            </MudText>
        </div>
    </MudContainer>
</CHPage>
