/**
 * Header text of entire webpage.
 * Expected to be used with MudBlazor.Typo.h1.
 */
.ch-header-text {
    font-weight: bold;
}

/**
 * Subheader text of webpage.
 * Expected to be used with MudBlazor.Typo.subtitle1.
 */
.ch-subheader-text {
    font-size: 2rem;
}

/**
 * General purpose version of MudBlazor's fluid class.
 */
.ch-fluid-width {
    max-width: 100%;
    height: auto;
}

/**
 * Version of ch-fluid-width for scaling with the parent's height.
 */
.ch-fluid-height {
    max-height: 100%;
    width: auto;
}

@media print {
    /**
     * Hides element when in print mode.
     */
    .ch-print-hidden {
        display: none;
    }
}
