<div class="mud-width-full pa-4">
    <MudText Typo="@Typo.h4">
        @Title
    </MudText>
    @ChildContent
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
