<MudPaper id="@Id" Class="mud-width-full">
    <div class="d-lg-flex flex-row"> <!-- only use flex display on lg screen sizes and up -->
        <div>
            <div class="rounded" style="height: 400px; aspect-ratio: 4 / 3; overflow: hidden;">
                @Media
            </div>
        </div>
        <div class="mud-width-full pa-4">
            <MudText Typo="@Typo.h3">
                @Title
            </MudText>
            <div style="height: 10px;"></div>
            @Info
            <div style="height: 10px;"></div>
            @Description
            <div style="height: 10px;"></div>
            @References
        </div>
    </div>
    <div class="mud-width-full pa-4">
        <MudText Typo="@Typo.h4">
            Contributions
        </MudText>
        @Contributions
    </div>
</MudPaper>

@code
{
    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment Info { get; set; }

    [Parameter]
    public RenderFragment Media { get; set; }

    [Parameter]
    public RenderFragment Description { get; set; }

    [Parameter]
    public RenderFragment References { get; set; }

    [Parameter]
    public RenderFragment Contributions { get; set; }
}
