@using MudBlazorExtensionLibrary.Services
@inject MBELLayoutService LayoutService

<link href="/_content/ChristianHinko/css/page-print-us-letter.css" rel="stylesheet" />

<div class="mud-width-full mud-height-full" style="background-color: var(--mud-palette-background-grey);">
    <MudPaper Class="ch-paper-us-letter mx-auto ch-paper-us-letter-padding-quarter" Square="true">
        @ChildContent
    </MudPaper>
</div>

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutService.SetIsDarkMode(false);
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
