<div class="mud-width-full d-flex flex-row justify-space-between">
    @Title
    @Date
</div>

@code
{
    [Parameter]
    public RenderFragment Title { get; set; }

    [Parameter]
    public RenderFragment Date { get; set; }
}
