@page "/"
@using ChristianHinko.Server.Shared.Components.Post

<div style="height: 100px;"></div>
<div class="d-flex flex-column justify-center mud-width-full">
    <CHPageSection>
        <div class="d-flex flex-row justify-space-between align-center mud-width-full mud-height-full">
            <header>
                <MudText Class="ch-header-text" Typo="@Typo.h1">
                    Christian Hinkle
                </MudText>
                <MudText Class="ch-subheader-text" Typo="@Typo.subtitle1">
                    Artist and Game Programmer
                </MudText>
            </header>
            <MudImage Class="rounded" Style="transform: scaleX(-1);" Src="/images/ChristianHinkle.png" Width="400" Height="400" />
        </div>
    </CHPageSection>
</div>
<div style="height: 100px;"></div>
<MudContainer MaxWidth="@MaxWidth.Large">
    <CHNewestPosts />
</MudContainer>
