/**
 * 
 */
.ch-resume-text-header {
    font-weight: bold;
    font-size: 3rem;
}

/**
 * 
 */
.ch-resume-text-subheader {
    font-weight: bold;
}

/**
 * 
 */
.ch-resume-text-section {
    font-weight: bold;
    font-size: 2rem;
}

/**
 * 
 */
.ch-resume-item-text {
    font-weight: bold;
}
